
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    word-break: break-word;
    word-wrap: break-word;
	margin: 0;
    padding: 0;
}

html, body {
	margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}